In [1]:
import turicreate

In [2]:
people  = turicreate.SFrame('people_wiki.sframe')
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [3]:
people['words_count'] = turicreate.text_analytics.count_words(people['text'])
people

Columns:
	URI	str
	name	str
	text	str
	words_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['words_count'])
people

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'asses': 9.60020102810530... |
| {'streamz': 10.98649538922... |
| {'concordia': 6.2502969408... |
| {'heavies': 8.907053847545... |
| {'2002': 1.875312588782230... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Building Nearest Neighbour Model

In [28]:
knn_model = turicreate.nearest_neighbors.create(people, features=['tfidf'], label= 'name', distance= 'cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [29]:
knn_model_wc = turicreate.nearest_neighbors.create(people, features= ['words_count'], label= 'name',distance= 'cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

## Document Retrieval

In [7]:
john = people[people['name']== 'Elton John']
john

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|          words_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'movements': 1.0, 'social... | {'movements': 5.0306580197... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [9]:
people[people['name']== 'Phil Collins']['text']

dtype: str
Rows: ?
['philip david charles phil collins lvo born 30 january 1951 is an english singer songwriter multiinstrumentalist and actor he gained fame as both drummer and lead vocalist for the rock group genesis and he gained worldwide fame as a solo artist collins is one of the most successful songwriters and performers of all time singing the lead vocals on dozens of hit albums and singles in the united kingdom and the united states between 1976 and 2010 either as a solo artist or with genesis his solo singles sometimes dealing with lost love and often featuring his distinctive gated reverb drum sound ranged from the atmospheric in the air tonight dancerock of sussudio pianodriven power ballad against all odds to the political and religious connotations of another day in paradise allmusic has described collins as one of the most successful pop and adult contemporary singers of the 80s and beyondcollins joined genesis in 1970 as the groups drummer and became their lead vocalist in 1975 following the departure of original frontman peter gabriel his solo career which was launched in 1981 and was heavily influenced by his personal life and soul music brought both himself and genesis greater commercial success collinss total worldwide sales as a solo artist are 150 million collins has won numerous music awards throughout his career including seven grammy awards six brit awardswinning best british male three times three american music awards an academy award two golden globe awards and a disney legend award in 2002 for his solo work he received a star on the hollywood walk of fame in 1999 was inducted into the songwriters hall of fame in 2003 and into the rock and roll hall of fame as a member of genesis in 2010 collins was listed at number 22 in rolling stone magazines 100 greatest drummers of all time number 10 in a countdown by gigwise and number 9 by musicradarcollins is one of only three recording artists along with paul mccartney and michael jackson who have sold over 100 million albums worldwide both as solo artists and separately as principal members of a band during his most successful period as a solo artist between 1981 and 1990 collins had three uk numberone singles and seven numberone singles on the billboard hot 100 in the united states as well as a us number one with genesis in 1986 when his work with genesis his work with other artists as well as his solo career is totalled collins had more top 40 hits on the billboard hot 100 chart during the 1980s than any other artist in 2008 collins was ranked the 22nd most successful artist on the the billboard hot 100 alltime top artists although one of the worlds bestselling recording artists and a highly respected drummer collins has garnered significant criticism over the years from music journalists and fellow artists he announced his retirement in 2011 to focus on his family life however he continued to write songs and in 2013 he said he was considering a return to the music industry', ... ]

In [10]:
people[people['name']== 'Rod Stewart']['text']

dtype: str
Rows: ?
['roderick david rod stewart cbe born 10 january 1945 is a british rock singersongwriter born and raised in london he is of english and scottish ancestry stewart is one of the bestselling music artists of all time having sold over 100 million records worldwidehe has had six consecutive number one albums in the uk and his tally of 62 uk hit singles includes 31 that reached the top 10 six of which gained the number one position he has had 16 top ten singles in the us with four reaching number one on the billboard hot 100 in 2007 he received a cbe at buckingham palace for services to musicwith his distinctive raspy singing voice stewart came to prominence in the late 1960s and early 1970s with the jeff beck group and then with faces though his music career had begun in 1962 when he took up busking with a harmonica in october 1963 he joined the dimensions as a harmonica player and parttime vocalist then in 1964 he joined long john baldry and the all stars later in august 1964 he also signed a solo contract releasing his first solo single good morning little schoolgirl in october of the same year he maintained a solo career alongside a group career releasing his debut solo album an old raincoat wont ever let you down us the rod stewart album in 1969 his early albums were a fusion of rock folk music soul music and rb his aggressive blues work with the jeff beck group and the faces influenced heavy metal genres from the late 1970s through the 1990s stewarts music often took on a new wave or soft rockmiddleoftheroad quality and in the early 2000s he released a series of successful albums interpreting the great american songbookin 2008 billboard magazine ranked him the 17th most successful artist on the the billboard hot 100 top alltime artists a grammy and brit award recipient he was voted at no 33 in q magazines list of the top 100 greatest singers of all time and no 59 on rolling stone 100 greatest singers of all time as a solo artist stewart was inducted into the us rock and roll hall of fame in 1994 the uk music hall of fame in 2006 and was inducted a second time into the us rock and roll hall of fame in 2012 as a member of the faces', ... ]

In [11]:
people[people['name']== 'Annie Lennox']['text']

dtype: str
Rows: ?
['annie lennox obe born 25 december 1954 born ann lennox is a scottish singersongwriter political activist and philanthropist after achieving moderate success in the late 1970s as part of the new wave band the tourists she and fellow musician dave stewart went on to achieve major international success in the 1980s as eurythmics with a total of eight brit awards including best british female artist six times lennox has won more than any other female artist she has also been named the brits champion of championslennox embarked on a solo career in 1992 with her debut album diva which produced several hit singles including why and walking on broken glass to date she has released six solo studio albums and a compilation album the annie lennox collection 2009 aside from her eight brit awards she has also collected four grammy awards and an mtv video music award in 2002 lennox received a billboard century award the highest accolade from billboard magazine in 2004 she won both the golden globe and the academy award for best original song for into the west written for the soundtrack to the feature film the lord of the rings the return of the kingin addition to her career as a musician lennox is also a political and social activist notable for raising money and awareness for hiv aids as it affects women and children in africa in 2011 lennox was appointed an officer of the order of the british empire by queen elizabeth ii for her tireless charity campaigns and championing of humanitarian causes on 4 june 2012 she performed at the queens diamond jubilee concert in front of buckingham palace lennox performed the song little bird during the 2012 summer olympics closing ceremony in london on 12 august 2012lennox has been named the greatest white soul singer alive by vh1 and one of the 100 greatest singers of all time by rolling stone in 2012 she was rated no 22 on vh1s 100 greatest women in music she has earned the distinction of most successful female british artist in uk music history due to her commercial success since the early 1980s as of june 2008 including her work within eurythmics lennox had sold over 80 million records worldwide', ... ]

In [12]:
people[people['name']== 'Barry Gibb']['text'

dtype: str
Rows: ?
['barry alan crompton gibb cbe born 1 september 1946 is a musician singer songwriter and record producer who rose to worldwide fame as a founder member of the bee gees one of the most commercially successful and critically acclaimed groups in the history of popular music with his brothers robin and maurice he formed a songwriting partnership from 1966born in isle of man and raised in manchester where he became involved in the skiffle craze forming his first band the rattlesnakes which evolved into the bee gees in 1960 when they moved to redcliffe queensland australia they returned to england where they achieved worldwide fame he was also known for his highpitched falsetto singing voice gibb shares the record with john lennon and paul mccartney for consecutive billboard hot 100 number ones as a writer with six guinness world records lists gibb as the second most successful songwriter in history behind sir paul mccartneygibbs career has spanned over fifty years in 1994 he was inducted into the songwriters hall of fame with his brothers in 1997 as a member of the bee gees he was inducted into the rock and roll hall of fame and received the brit award for outstanding contribution to music barry is a fellow of the british academy of songwriters composers and authors', ... ]

In [13]:
people[people['name']== 'Victoria Beckham']['text']

dtype: str
Rows: ?
['victoria caroline beckham ne adams born 17 april 1974 is an english businesswoman fashion designer model and singer in the late 1990s beckham rose to fame with the allfemale pop group spice girls and was dubbed posh spice by the july 1996 issue of the british music magazine top of the pops after the spice girls split she was signed to virgin records and telstar records and had four uk top 10 singles her first release out of your mind reached number 2 in the uk singles chartbeckham has participated in five official documentaries and reality shows about her including being victoria beckham the real beckhams and victoria beckham coming to america she has since made a cameo appearance in an episode of ugly betty and been a guest judge on project runway germanys next topmodel and american idol she is married to david beckham and they have four children as of 2014 the couples joint wealth is estimated at 380 millionin the past decade beckham has become an internationally recognised style icon and fashion designer following highprofile collaborations with other brands she launched an eponymous label in 2008 and a lowerpriced diffusion label in 2011 the victoria beckham label was named designer brand of the year in the uk in 2011 in 2012 the brand was assessed as the star performer in the beckham familys business interests writing in the daily telegraph in 2011 belinda white noted that the transition from wag to fashion designer had been more successful than most had predicted saying she has gathered a significant celebrity following and won over the scathing fashion pack who now clamour for a ticket to her biannual show at new york fashion week', ... ]

In [14]:
people[people['name']== 'Paul McCartney']['text']

dtype: str
Rows: ?
['sir james paul mccartney mbe born 18 june 1942 is an english singer multiinstrumentalist and composer with john lennon george harrison and ringo starr he gained worldwide fame as a member of the beatles one of the most popular and influential acts in the history of rock music his songwriting partnership with lennon is one of the most celebrated of the 20th century after the bands breakup he pursued a solo career and formed wings with his first wife linda and denny lainemccartney has been recognised as one of the most successful composers and performers of all time with 60 gold discs and sales of over 100 million albums and 100 million singles of his work with the beatles and as a solo artist more than 2200 artists have covered his beatles song yesterday more than any other copyrighted song in history wings 1977 release mull of kintyre is one of the alltime bestselling singles in the uk inducted into the rock and roll hall of fame as a solo artist in march 1999 mccartney has written or cowritten 32 songs that have reached number one on the billboard hot 100 and as of 2014 he has sold more than 155 million riaacertified units in the united states mccartney lennon harrison and starr received mbes in 1965 and in 1997 mccartney was knighted for his services to musicmccartney has released an extensive catalogue of songs as a solo artist and has composed classical and electronic music he has taken part in projects to promote international charities related to such subjects as animal rights seal hunting land mines vegetarianism poverty and music education he has married three times and is the father of five children', ... ]

## For quiz

In [16]:
victoria = people[people['name']== 'Victoria Beckham']
mcCarteny = people[people['name']== 'Paul McCartney']

In [17]:
victoria

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'week': 1.0, 'york': 1.0,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'week': 3.57252509903475,... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [18]:
mcCarteny

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'children': 1.0, 'five': ... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'children': 2.42528531239... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [19]:
turicreate.distances.cosine(john['tfidf'][0], mcCarteny['tfidf'][0])

0.8250310029221779

In [20]:
turicreate.distances.cosine(john['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [30]:
knn_model_wc.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.562ms     |

| Done         |         | 100         | 223.671ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [31]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.806ms      |

| Done         |         | 100         | 252.794ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [32]:
knn_model_wc.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.308ms      |

| Done         |         | 100         | 221.437ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [33]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.156ms      |

| Done         |         | 100         | 242.428ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]

In [25]:
john[['words_count']].stack('words_count', new_column_name=['word', 'count']).sort('count', ascending= False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [26]:
john[['tfidf']].stack('tfidf', new_column_name=['tfidf', 'count']).sort('count', ascending= False)

Columns:
	tfidf	str
	count	float

Rows: 255

Data:
+---------------+--------------------+
|     tfidf     |       count        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|   fivedecade  | 10.293348208665249 |
|    19702000   | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.